* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

body {
  font-family: "Merriweather", serif;
}

.btn {
  padding: 2em;
}

.nav {
  background-color: aqua;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.nav ul li {
  padding: 2em;
  font-size: 1em;
}
.nav ul a {
  color: #000;
}
.nav ul a:hover {
  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-image: url(../../images/backgound.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.hero div {
  text-align: center;
  padding: auto;
}
.hero p {
  font-size: 2em;
  color: #fff;
}
.hero h1 {
  font-size: 3em;
  color: magenta;
}
.hero button {
  padding: 1em;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  width: 10%;
  margin-top: 2em;
}

.testimonials {
  width: 100%;
}
.testimonials__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.testimonials__container img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.testimonials h2 {
  color: magenta;
  text-align: center;
  font-size: 1.5rem;
  padding: 2em;
}
.testimonials h3 {
  color: #eea539;
}
.testimonials__stats {
  width: 24%;
  border: 2px solid darkgray;
  border-radius: 5px;
  gap: 2em;
  background-color: #d3d3d3;
  color: #000;
  padding: 2em;
}
.testimonials__profile {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  gap: 3em;
}

.mission {
  background-color: rgb(0, 255, 255);
}
.mission__container {
  margin-top: 2em;
}
.mission__container h3 {
  color: #eea539;
}

.about__heading {
  height: 30vh;
  background-image: url(../../../images/about.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  font-size: 4rem;
  flex-wrap: wrap;
}
.about__content {
  color: rgb(51, 51, 51);
  margin: 3em 0;
}
.about__content__centered {
  width: 80%;
  margin: 0 auto;
}
.about__paragraph {
  margin: 2em 0;
  gap: 1em;
}

.choose h2 {
  text-align: center;
  color: rgb(51, 51, 51);
}
.choose__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  margin: 2em 0;
}
.choose__container div {
  text-align: center;
}
.choose__container h3 {
  text-align: center;
  margin: 1em 0;
}
.choose__container__centered {
  width: 80%;
  margin: 0 auto;
}
.choose__card {
  width: 30%;
  box-shadow: 0px 0px 4px #d3d3d3;
  padding: 1em;
  color: rgb(51, 51, 51);
}

.btn__blue {
  text-align: center;
}