* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
}

body {
  font-family: "Merriweather", serif;
}

.btn {
  padding: 2em;
}

.about {
  padding: auto;
}
.about__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}

.nav {
  background-color: aqua;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.nav ul li {
  padding: 2em;
  font-size: 1em;
}
.nav ul a {
  color: #000;
}
.nav ul a:hover {
  color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.hero__container {
  background-image: url(../../images/backgound.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}
.hero div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  padding: auto;
}
.hero p {
  font-size: 2em;
  color: #fff;
}
.hero h1 {
  font-size: 3em;
  color: blue;
}
.hero button {
  padding: 2em;
  background-color: aqua;
  color: #fff;
  border-radius: 5px;
  border: none;
}