* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 80%;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
}

body {
  font-family: "Merriweather", serif;
}

.nav {
  background-color: aqua;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.nav ul li {
  padding: 3em;
  font-size: 1em;
}
.nav ul a {
  color: #000;
}
.nav ul a:hover {
  color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
.hero__container {
  background-image: url(../../images/tima.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.about {
  border-bottom: 8em;
}
.about__container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  gap: 2em;
}
.about__right {
  width: 50%;
  margin: 0 auto;
}

.choose__flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  gap: 2em;
}
.choose__right {
  width: 50%;
  margin: 0 auto;
}

.dental__flex {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  gap: 2em;
}
.dental__right {
  width: 50%;
  margin: 0 auto;
}