@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;
.about {
  &__heading {
    height: 30vh;
    color: $magenta;
    background-image: url(https://joycemideva.github.io/dental/images/pexelsbackground.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include flex(center, center);
    font-size: 4rem;
    flex-wrap: wrap;
    text-align: center;
  }
  &__content {
    color: $dark-grayish;
    margin: 3em 0;
    &__centered {
      width: 80%;
      margin: 0 auto;
    }
  }
  &__paragraph {
    margin: 2em 0;
    gap: 1em;
  }
  h2 {
    font-size: 3rem;
    color: $magenta;
  }
}

.choose {
  h2 {
    text-align: center;
    color: $magenta;
    font-size: 3rem;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
    margin: 2em 0;
    div {
      text-align: center;
    }
    Services h3 {
      text-align: center;
      margin: 1em 0;
    }
    &__centered {
      width: 80%;
      margin: 0 auto;
    }
  }
  &__card {
    box-shadow: 0px 0px 4px $lightgray;
    padding: 1em;
    color: $dark-grayish;
  }
}
.btn__blue {
  text-align: center;
}

.team {
  background-color: $light-blue;
  &__container {
    margin: 0 auto;
    div {
      @include flex(center, center);
      gap: 1em;
      flex-wrap: wrap;
      div {
        @include flex(space-between, center, column);
        color: #fff;
      }
    }
    h5 {
      text-align: center;
      font-size: 1.5rem;
    }

    h4 {
      text-align: center;
      font-size: 2rem;
      margin: 0.5em;
    }
    img {
      border-radius: 50%;
    }
  }
}
h6 {
  font-size: 2em;
}

// media queries

@media (max-width: 960px) {
  .choose {
    &__container {
      grid-template-columns: 1fr;
      
    }
  }
}

@media (max-width: 500px) {
  .about{
h1{
  font-size: 4rem;
}
    h2{
      font-size: 2rem;
    }
  }
  }
