@use"./variables" as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
    width: 80%;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}

p{
    line-height: 1.5;
}

body{
    font-family:$font;
}
.btn{
    padding: 2em;
}
