
$lightgray:#d3d3d3;
$magenta:magenta;
$orange:#eea539;
$black:#000;
$dark-grayish:rgb(51, 51, 51);
$light-blue: #00a5d6;



$lightgray:#f4f7fb;
$magenta:rgb(255 0 255);
$orange:#eea539;
$black:#000;
$white:#fff;
$aqua:rgb(0 255 255);


$font: 'Merriweather', serif;
