@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;
.call{
    background-color:$light-blue;
    &__container{
    @include flex(space-around,center)
    }
    p{
        font-size: 3rem;
        color: $dark-grayish;
    }
    button{
        padding: 1em;
        margin: 1em;
        border: none;
        border-radius: 5px;
    }
}