@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;
.call{
    background-color:$light-blue;
    &__container{
    @include flex(space-around,center)
    }
    p{
        font-size: 3rem;
        color: $dark-grayish;
    }
    button{
        padding: 1em;
        margin: 1em;
        border: none;
        border-radius: 5px;
    }
}

// Tablet

@media screen and (max-width:704px){
    .call{
        p{
    font-size: 2rem;
        }
    }
}

// Mobile

@media screen and (max-width:522px){
    .call{
        p{
    font-size: 1rem;
    font-weight: bold;
        }
    }
}

