@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;
.footer{
    // width: 100%;
    background-color: $light-blue;
    
    &__section{
        width: 23%;
        padding: 1em;
        color:$black;

        
    }
    h3{
        color: $black;
    }
    &__container{
        @include flex(space-between,center);
    }
}