@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;
.footer{
    // width: 100%;
    background-color: $white;
    margin-bottom: 2em;
    
    &__section{
        width: 23%;
        padding: 1em;
        color:$black;
        margin-top: 2em;
        line-height: 2em;


        
    }
    h3{
        color: $magenta;
    }
    &__container{
        @include flex(space-between,center);
        flex-wrap: wrap;
    }
}

.week__days{
    
    box-shadow:0 0 5px $magenta;
    height: 50%;
    background-color: #fff;
    margin-top: 2em;
    line-height: 2em;
}

.fa-brands {
    color:$aqua;
    font-size: 2rem;
    margin-right: 0.5em;
    margin-top: 0.5em;

}

.fa-solid{
    color: $aqua;
    margin-right: 1em;
    font-size: 1em;
}

.crafts{
    background-color: $light-blue;
    padding: 1em;
}

// Tablet

@media screen and (max-width:1200px){
    .footer{
        &__section{
            width: 48%;
        }
    }
}

// Mobile
@media screen and (max-width:600px){
    .footer{
        &__section{
            width: 100%;
        }
    }
}