@use "../../utilities/mixins" as *;
@use"../../utilities/variables" as*;
.hero{
    @include flex(center,center,column);
        background-image:url(../../images/backgound.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        width: 100%;
        @include flex(center,center,column);
    
div{
    text-align: center;
    padding: auto;
}
p{
    font-size: 2em;
    color: #fff;
}
h1{
    font-size: 5rem;
    color:$magenta;
}
button{
    padding: 1em;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    margin-top: 2em;
    
    }
}

// Media queries
// Tablet
@media screen and (max-width:810px){
    .hero{
        h1{
font-size: 3rem;
        }
        p{
font-size: 1rem;
        }
    }
}



