@use"../../utilities/variables"as*;
.mission{
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0,.5)), url(../../../images/tima.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    
    &__container{
margin-top: 2em;
padding: 2em;
h3{
    color: $magenta;
    text-align: center;
}

    }
    p{
        line-height: 2;
        font-size: 2rem;
    }
}

// Mobile

@media screen and (max-width:522px){
    .mission{
        height: 77vh;
        &__container{
    padding: .2em;
        }
    }
}