@use "../utilities/mixins" as *;
@use"../utilities/variables" as*;
.hero{
    @include flex(space-between,center);
    &__container{
        background-image:url(../../images/tima.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        width: 100%;
    }

}

.hero__slogun{
    height: 50%;
    width: 50%;
   background-color: red;
   
}