@use "../utilities/mixins" as *;
@use"../utilities/variables" as*;
.hero{
    @include flex(center,center,column);
    &__container{
        background-image:url(../../images/backgound.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
        width: 100%;
    }
div{
    @include flex(center,center,column);
    text-align: center;
    padding: auto;
}
p{
    font-size: 2em;
    color: #fff;
}
h1{
    font-size: 3em;
    color: blue;
}
button{
    padding: 2em;
    background-color: aqua;
    color: #fff;
    border-radius: 5px;
    border: none;
}
}

