@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.services {
  background-color: $light-blue;
  padding: 2em 0;
  p {
    text-align: center;
    color: $white;
  }

  h1 {
    text-align: center;
    color: $magenta;
  }
  &__stats {
    padding: 2em;
    box-shadow: 0 0 5px $dark-grayish;
    @include flex(center, center, column);
    flex-wrap: wrap;

    div {
      border: 2px;
      border-radius: 50%;
      height: 130px;
      width: 130px;
      background-color: $lightgray;
      padding: 2em;
      margin: 0 auto;
    }

    h3, p{
        text-align: center;
        line-height: 2;
    }

  }
  &__container {
    @include grid(3, 2);
    gap: 1em;
    padding: 2em 0;
  }
  button{
    padding: 1em;
    border-radius: 5px;
    border: none;
    background-color: $magenta;
    color: $white;

  }
}
.prevention {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../../images/brush.jpg") no-repeat center center/cover;
  height: 70vh;

  &__container{
    @include flex(space-between,center);
    padding: 2em;
    gap: 5em;
    p{
    color: $white;
    font-size: 2rem;
    }
    h2{
        font-size: 4rem;
        color: $magenta;
    }
    li{
        color: $white;
        font-size: 1.5rem;
    }
  }
  button{
    padding: 1em;
    border-radius: 5px;
    background-color: $black;
    color:$white;
    border: none;
    font-size: 1em;
  }
}
//  Media quaries
// Tablet
@media screen and (max-width:1380px){
  .services{
    &__container{
      @include grid(2, 2);
    }
  }
}
  

// mobile
@media screen and (max-width:750px){
  .services{
    &__container{
      @include grid(1, 2);
    
    }
  }
}



// Media quaries
// Tablet
@media screen and (max-width:1380px){
  .prevention{
    &__container{
      p{
font-size: 1rem;
      }
      h2{
        font-size: 1rem;
      }
      li{
        font-size: .5em;
      }
      button{
        padding: .5em;
      }
    }
  }
}
  





// Media quaries
// Tablet
@media screen and (max-width:1380px){
  .services{
    &__container{
      @include grid(1, 2);
    }
  }
}
  

// mobile
@media screen and (max-width:750px){
  .services{
    &__container{
      @include grid(1, 2);
    
    }
  }
}
