@use "../../utilities/mixins" as *;
@use "../../utilities/variables" as *;

.services {
  background-color: $light-blue;
  padding: 2em 0;
  p {
    text-align: center;
    color: $white;
  }

  h1 {
    text-align: center;
    color: $magenta;
  }
  &__stats {
    padding: 2em;
    border: 5px solid $dark-grayish;
    @include flex(center, center, column);
    flex-wrap: wrap;

    div {
      border: 2px;
      border-radius: 50%;
      height: 130px;
      width: 130px;
      background-color: $lightgray;
      padding: 2em;
      margin: 0 auto;
    }

    h3, p{
        text-align: center;
        line-height: 2;
    }

  }
  &__container {
    @include grid(3, 2);
    gap: 1em;
    padding: 2em 0;
  }
  button{
    padding: 1em;
    border-radius: 5px;
    border: none;
    background-color: $magenta;
    color: $white;

  }
}
.prevention {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../../../images/brush.jpg") no-repeat center center/cover;
  height: 40vh;
  
  &__container{
    @include flex(space-around,center)
  }
  button{
    padding: 1em;
    border-radius: 5px;
    background-color: $black;
    color:$white;
    border: none;
    font-size: 1em;
  }
}
