@use"../../utilities/mixins" as *;
@use"../../utilities/variables" as*;
.nav{
    background-color:$lightgray;
    &__container{
        @include flex(space-between,center);
    }
    
        ul{
            @include flex(space-between,center);
            li{
                padding: 2em;
                font-size: 1rem;
                &:last-child{
                    display: none;
                }
            
            } 

            a{
                color: $black;
&:hover{
    background-color: $white;
    color:$magenta;
    padding: 1em;
}
            } 
        }

}

// Media queries

// Tablet
@media screen and (max-width:810px){
    .nav{
        ul{
            li{
                &:not(:last-child){
                    display: none;
                }
                &:last-child{
                    display: block;
                }
            }
        }
    }
}
